@media (min-width:1200px){
    .container-fluid {
        max-width: 100%;
        padding: 0 96px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
       
    }
}
.works-area {
    margin-bottom: 100px;
}
.heading2 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #465166;
    text-transform: uppercase;
}
.works-ul {
    margin: 48px 0 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.works-ul li {
    border-radius: 20px;
    list-style: none;
    background: #fff;
    padding: 0 0 17px;
    width: 33.5%;
    margin-right: 24px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 4px 20px rgb(0 0 0 / 10%);

}
.works-img {
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
    border-radius: 20px;
}
.li-text {
    padding: 0 32px 17px;
}
.li-text h3 {
    margin: 20px 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #465166;
}
.li-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
}